<%- include("partials/header") %>

<h1>Home</h1>

<p> <%= startingContent %> </p>

<% posts.forEach(function(post){ %>
    <h2> <%= JSON.stringify(post.title) %> </h2>
    <p> <%= JSON.stringify(post.content) %> </p>
<% }) %>

<%- include("partials/footer") %>